{% if resource_granted('EDIT', entity) %}
{% set ticket = orocrm_zendesk_get_case_ticket(entity) %}
{% set channels = orocrm_zendesk_get_available_channels() %}
    {% if ticket is empty and channels is not empty%}
        <div class="btn-group">
            <a type="button"
               class="btn import-btn icons-holder-text no-hash"
               href="#">
                <i class="icon-upload-alt  hide-text"></i>{{ "orocrm.zendesk.form.sync_to_zendesk.label"|trans }}
            </a>

            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for channel in channels %}
                <li>
                    <a type="button"
                       class="zendesk-integration-btn icons-holder-text no-hash"
                       href="javascript:void(0);" data-channel-id="{{ channel.id }}">
                        {{ channel.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script type="text/javascript">
            require(['jquery', 'routing', 'oroui/js/loading-mask'],
                    function ($, routing, LoadingMask) {
                        var loadingMask = new LoadingMask();
                        var loadingMaskContainer = $('<div class="zendesk-loading-mask"></div>');

                        $('body').append(loadingMaskContainer);

                        $('.zendesk-integration-btn').bind('click', function(){
                            var id = $(this).data('channel-id');
                            var url = routing.generate('oro_api_post_ticket_sync_case');
                            var loadingMask = new LoadingMask();
                            if (!loadingMaskContainer.data('loading-mask-visible')) {
                                loadingMaskContainer.data('loading-mask-visible', true);
                                loadingMaskContainer.append(loadingMask.render().$el);
                                loadingMask.show();
                            }
                            $.post(url, {channelId:id, id: '{{ entity.id }}'}, function(){
                                loadingMask.hide();
                                document.location.reload();
                            }).fail(function() {
                                loadingMask.hide();
                            });
                        });
                    });
        </script>
    {% endif %}
{% endif %}
