placeholders:
    placeholders:
        view_content_data_additional_information:
            items:
                oro_zendesk_case_ticket_info: ~

        view_navButtons_before:
            items:
                oro_zendesk_case_sync_button: ~

    items:
        oro_zendesk_case_ticket_info:
            template: '@@OroZendesk/Case/caseTicketInfo.html.twig'
            applicable: "@oro_zendesk.placeholder.filter->isTicketAvailable($entity$)"

        oro_zendesk_case_sync_button:
            template: '@@OroZendesk/Case/syncButton.html.twig'
            applicable: "@oro_zendesk.placeholder.filter->isSyncApplicableForCaseEntity($entity$)"
